
 
  html, body {
    min-height: 100%;
}
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400&display=swap');
  body {
    font-family: 'Poppins';
    background-image: url('covid-banner.png');
    animation: image 5s infinite linear;
}

@keyframes image {
    0% {
        background-image: url('covid-banner.png');
    }
    50% {
        background-image: url('covid-banner2.jpg');
    }
    100% {
        background-image: url('covid-banner3.jpg');
    }
}
.header-area  {
  padding: 25px 6px;
  color: #f1f1f1;
  width: 100%; z-index: 9999999;
  height: 77px;
  
  background:#ed242e;
  border-radius: 6px;
}


.logo_sm {display: none;}

.logo_midle {color: #fef6fc; font-weight: bold; color: #fff !important;}
.logo_midle::before {
 position: absolute;
 content: "";
 bottom: -93px;
 width: 158px;
 height: 96px;
 background: url(../images/logo.png);
 z-index: 999;
 margin: 0 auto;
 left: 0;
 right: 6px;
}
.site-navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.site-navbar ul {
 margin: 0;
 padding: 0;
 list-style: none;
 display: flex;
}

.site-navbar ul li a {
 color: #fef6fc;
 font-size: 17px;
 display: block;
 text-decoration: none;
 text-transform: uppercase;
}

.site-navbar ul li {
 padding-right: 152px;
 text-align: center;
 align-items: center;
 justify-content: center;
}

.site-navbar ul li:last-child {
 padding-right: 0;
}

.site-navbar ul li a:hover {
 color: #00132b;
}
.site-navbar ul li a.active {
 color: #00132b;
}

/* navbar regular css end */


/* nav-toggler css start */

.nav-toggler {
 border: 3px solid #fff;
 padding: 5px;
 background-color: transparent;
 cursor: pointer;
 height: 39px;
 display: none;
 z-index: 99999;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
 width: 28px;
 height: 3px;
 background-color: #fff;
 display: block;
 transition: .3s;
}

.nav-toggler span:before {
 content: '';
 transform: translateY(-9px);
}

.nav-toggler span:after {
 content: '';
 transform: translateY(6px);
}

.nav-toggler.toggler-open span {
 background-color: transparent;
}

.nav-toggler.toggler-open span:before {
 transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
 transform: translateY(-3px) rotate(-45deg);
}


/* nav-toggler css start */


/* intro-area css start */

.intro-area {
 height: calc(100vh - 61px);
 display: flex;
 align-items: center;
 text-align: center;
 color: #fff;
}




/* intro-area css end */


.left {

 position: absolute;
 background: #00132b;
 width: 80px;
 left: 0;
 height: 77px;
 top: 0;
 text-align: center;
 line-height: 77px;
 

}

.left  a i {
 color: #fff;

}
.right {
 position: absolute;
 background: #00132b;
 width: 80px;
 right: 0;
 height: 77px;
 top: 0;
 text-align: center;
 line-height: 77px;

}
.right  a i {
 color: #fff;

}
/** end header **/




/** end header **/


  .container {
    width: 100%;
    background: #ffffff54;
    border-radius: 6px;

margin-top: 100px;
    align-items: center;  
}
  .container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before {
    content: "";
    position: absolute;
    
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details {
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i {
    font-size: 30px;
    color:red;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
  }
  
  .container .content .right-side {
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: red;
  }
  .right-side .input-box {
    height: 55px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea {
    height: 100%;
    width: 60%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 0 15px;
    font-family: 'Poppins';
    resize: none;
  }
  .right-side .message-box {
    min-height: 110px;
  }
  .right-side .input-box textarea {
    padding-top: 6px;
  }
  .right-side .button {
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: red;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover {
    background:red;
  }
  
  @media (max-width: 950px) {
    .container {
      width: 90%;
      padding: 30px 40px 40px 35px;
    }
    .container .content .right-side {
      width: 75%;
      margin-left: 55px;
    }
  }
  @media (max-width: 820px) {
    .container {
      margin: 40px 0;
      height: 100%;
    }
    .container .content {
      flex-direction: column-reverse;
    }
    .container .content .left-side {
      width: 100%;
      flex-direction: row;
      margin-top: 40px;
      justify-content: center;
      flex-wrap: wrap;
    }
    .container .content .left-side::before {
      display: none;
    }
    .container .content .right-side {
      width: 100%;
      margin-left: 0;
    }
  }
 /** footer **/

 .footer {
  padding-top: 20px;
  background: #05254d;
  text-align: center;
}


.hedingh3 h3 {
  color: #fff;
  font-size: 20px;
  padding-bottom: 20px;
  line-height: 23px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.hedingh3 p {
  color: #fff;
  text-align: left;
  margin-bottom: 15px;

}

ul.menu_footer {
  text-align: left;

}

ul.menu_footer li a {
  color: white;
  font-size: 17px;
  line-height: 18px;
  padding-bottom: 10px;
  display: block;
}

ul.menu_footer li a:hover {
  color: #e92f0b;
}

ul.inst li {
  display: inline-block;
  margin: 4px;
}


ul.top_infomation li {
  display: block;
  font-size: 17px;
  padding: 8px;
  color: #fff;
}

ul.top_infomation li:last-child {
  padding-right: 0;
}

ul.top_infomation li i {
  margin-right: 5px;
  color: #fff;
  text-align: center;
  transition: ease-in all 0.5s;
}

ul.top_infomation li a {
  color: #fff;
}

ul.top_infomation li a:hover {
  color: #e92f0b;
}

ul.top_infomation li i:hover {
  background: #eb4746;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: ease-in all 0.5s;
}


/** end footer **/


/**  inner page css **/



.inner_page .full_bg {
 height: 106px;
 padding-bottom: 0;

}
.inner_page .about {
margin-top: 145px;
margin-bottom: 80px;
}

.inner_page .doctors { padding-top: 140px;  padding-bottom: 50px;}
.inner_page .coronata {
padding-top: 130px;
padding-bottom: 80px;
}
.inner_page .cases {padding-top: 140px;
padding-bottom: 40px;}
.inner_page .contact {
padding-top: 145px;
padding-bottom: 80px;
}

