  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400&display=swap');

  #content {
      width: 100%;
      position: relative;
      margin-right: 0;
  }

  /* Sidebar Styles */
  #sidebar .nav>li>a {
      font-size: 18px;
      height: 70px;

  }

  #sidebar {
      z-index: 1000;
      position: fixed;
      left: 250px;
      width: 260px;
      height: 500%;
      margin-left: -250px;
      overflow-y: auto;
      background:  #05254d;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      border-right: #fff 2px solid;
      transition: all 0.5s ease;

  }

  #sidebar header {
      font-size: 20px;
      line-height: 52px;
      border-bottom: 1.5px solid white;
      text-align: center;

  }

  #sidebar header a {
      color: white;
      display: block;
      text-decoration: none;
      background: #05254d;
  }

  #sidebar header a:hover {
      color: #fff;
  }

  #sidebar .nav li a:hover {
      background: #0f4484;
      color: white;

  }

  #sidebar header a img {
      width: 90px;
      height: 90px;
  }


  #sidebar .nav a {
      background:#05254d;
      border-bottom: 1px solid white;
      color: white;
      font-size: 14px;
      padding: 16px 24px;
  }

  #sidebar .nav a:hover {
      background: none;
      color: #05254d;
  }

  #sidebar .nav a i {
      margin-right: 16px;
  }

  /* ALL PRODUCTS */
  #all-products .table {
      justify-content: center;
      align-items: center;
      margin-left: 200px;
      width: 85%;
      margin-top: 20px;
      border: #05254d 3px solid;
      border-radius: 20px;
      height: auto;



  }

  .table th {
      font-size: 22px;
      font-family: poppin;
  }

  .table td {
      font-size: 18px;
    
      font-weight: 300;
  }

  #all-products .table td,
  th {
      border: #05254d 3px solid;
  }


  #all-products h1 {
      margin-left: 100px;
      font-weight: 600;
      color: #05254d;
      font-family: poppin;
      text-align: center;
      justify-content: center;
      align-items: center;

  }

   .adminpic {
      width: 40px;
       height: 40px;
      border-radius: 50%;
        margin-right: 10px;
  }

  /* Style the dropdown menu */
  .dropdown-menu {
      min-width: 150px;
      /* Adjust the width as needed */
      border-radius: 20px;
      box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);

  }

  /* Style the dropdown menu items */
  .dropdown-menu li {
      padding: -25px 15px;
      height: 50px;
      background-color: #ffffff;
      color: rgb(64, 211, 27);
  }

  .dropdown-menu li a i {
      font-size: 22px;
      padding: 10px;
  }

  /* Style the dropdown menu links */
  .dropdown-menu>li>a {
      color: #d61919;
      /* Text color */
      background-color: #ffffff;
      text-decoration: none;
      /* Remove underline */
  }

  /* Hover effect on dropdown menu items */
  .dropdown-menu>li>a:hover {
      background-color: #05254d !important;
      color: white !important;
      /* Background color on hover */
  }
/* DASHBOARD */

#grooming {
    width: 280px;
    height: 300px;
    background-color: #05254d;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    text-align: center !important;
margin-top: 50px;
    border-radius: 20px;
    
    transition: transform 0.5s;
}

.grooming-para {
color: white;
margin-top: 10px;
    font-size: 30px;
    text-align: center;

}

.grooming-img {
    width: 150px;
    height: 150px   ;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

#grooming h5{
color: white;
font-size: 25px;
text-align: center;
font-weight: 600;
}
#grooming:hover {

    transform: translateY(-10px);
}
/* HOSPITAL */

.add-vaccine {

    margin-left: 100px;
    font-weight: 600;
    color: #05254d;
    font-family: poppin;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form-group {

    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.btn-vaccine {
    background-color: #05254d;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    font-family: poppin;
    font-size: 20px;
    margin-top: 30px;

}

#vaccine_name {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: 60px;
}

#availability_status {
    text-transform: inherit;
    width: 100%;
    font-size: 20px;
    font-weight: 500 !important;
    height: 60px;
}

.available {
    font-family: poppin;
    font-size: 20px;

}

